@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.circle-n {
  margin: 2vw;
  display: flex;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #06ce98;
  color: white;
  font-size: 9vw;
  align-items: center;
  justify-content: center;
}

.circle-y {
  margin: 2vw;
  display: flex;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #ef476f;
  color: white;
  font-size: 9vw;
  align-items: center;
  justify-content: center;
}

.circle-u {
  margin: 2vw;
  display: flex;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #ffd166;
  color: green;
  font-size: 2vw;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.info {
  font-size: 2vw;
  font-family: 'Cinzel', serif;
  color: white;
  text-align: center;
  margin: 2vw;
}

.info-box {
  width: 40vw;
}

.yes-text {
  color: #f16b8b;
  font-size: 2.4vw;
}

.no-text {
  color: #5af8ce;
  font-size: 2.4vw;
}