@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  background: url(../../karen.jpg) rgb(90, 189, 247);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: fixed;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 0 3vw 0 3vw;
  cursor: pointer;
}

.instructions {
  font-family: 'Cinzel', serif;
}

.intro {
  font-size: 1.3vw;
  font-family: 'Cinzel', serif;
  color: white;
  text-align: center;
  margin: 0;
}

.intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 3vw 0 0 0;
}

.form {
  margin: 0 2vw;
}

.title {
  font-family: 'Cinzel', serif;
  font-weight: 200;
  font-size: 4vw;
  color: #ebf4fa;
  text-align: center;
}

.field {
  padding: 1vw;
  border-radius: 1vw 0 0 1vw;
  width: 30vw;
  border: none;
  font-family: 'helvetica', sans-serif;
}

.field:focus {
  outline: none;
}

.button {
  padding: 1vw;
  border-radius: 0 1vw 1vw 0;
  border: none;
  background-color: #ef476f;
  font-family: 'helvetica', sans-serif;
  color: white;
}

.button:hover {
  background-color: #f70b52;
  transition: .5s;
}

.button:focus {
  outline: none;
}

.button2 {
  padding: 1vw;
  border-radius: 1vw;
  width: 30vw;
  border: none;
  background-color: #ef476f;
  color: white;
  margin: 5vw;
  font-size: 1.5vw;
  font-family: 'Cinzel', serif;
}

.complaints {
  margin: 4vw 0 0 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.footer-text {
  color: white;
  font-size: 1vw;
  font-family: 'helvetica', sans-serif;
  font-weight: 100;
  text-align: center;
}

.ext-link {
  color: white;
  font-size: 1.2vw;
  font-family: 'Cinzel', serif;
  text-decoration: none;
}

.ext-link:hover {
  font-size: 1.5vw;
  transition: .2s;
}

.error {
  font-family: 'Cinzel', serif;
  color: #f70b52;
}

.error-box {
  animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media (max-width: 415px) {

  body {
    
    background: rgb(90, 189, 247);
  }

  .title-box {
    align-items: center;
    width: 85vw;
    padding: 0 3vw 0 3vw;
  }

  .title {
    font-weight: 200;
    font-size: 10vw;
    margin: 10vw 0 0 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .field {
    border-radius: 2vw;
    padding: 6vw;
    margin: 2vw;
    width: 60vw;
    font-size: 3.5vw;
  }

  .button {
    padding: 6vw;
    border-radius: 2vw;
    width: 71vw;
    margin: 0 0 5vw 0;
    font-size: 6vw;
  }

  .intro {
    font-size: 4vw;
    margin: 0;
  }
  
  .intro-box {
    width: 80vw;
    padding: 3vw 0 3vw 0;
  }

  .footer {
    position: relative;
    margin: 3vw 0 0 0;
    width: auto;
  }

  .footer-text {
    font-size: 4vw;
  }
  
  .ext-link {
    font-size: 4.2vw;
    line-height: 6vw;
  }

  .button2 {
    padding: 3vw;
    border-radius: 2vw;
    width: 71vw;
    margin: 0 0 5vw 0;
    font-size: 5vw;
  }
  /* .d3-component {
    width: 80vw;
    height: 30vw;
  } */

}